<div class="hero" [class.scrolled]="isScrolled">

  <div class="hero__social">
    <button class="btn btn--fab">
      <ion-icon name="logo-github"></ion-icon>
    </button>
    <button class="btn btn--fab">
      <ion-icon name="logo-linkedin"></ion-icon>
    </button>
  </div>

  <div class="absolute-center">
    <div class="hero__title">
      <app-logo></app-logo>
    </div>

    <div class="hero__cta">
      <button class="btn btn--cta btn-cta-1">Explore</button>
      <button class="btn btn--cta btn-cta-2">Search
        <ion-icon name="search-outline"></ion-icon>
      </button>
    </div>
  </div>



</div>
