<div class="hero" [class.scrolled]="isScrolled">

  <div class="hero__social">
    <button class="btn btn--fab" (click)="openInNewTab('https://github.com/naticaceres/wookie-movies')">
      <ion-icon name="logo-github"></ion-icon>
    </button>
    <button class="btn btn--fab" (click)="openInNewTab('https://www.linkedin.com/in/natalia-caceres/')">
      <ion-icon name="logo-linkedin"></ion-icon>
    </button>
  </div>

  <div class="absolute-center">
    <div class="hero__title">
      <app-logo></app-logo>
    </div>

    <ng-container *ngIf="!isScrolled">
      <div class="hero__cta">
        <button class="btn btn--cta btn-cta-1" (click)="ctaClicked.emit('explore')">Explore</button>
        <button class="btn btn--cta btn-cta-2" (click)="ctaClicked.emit('search')">Search
          <ion-icon name="search-outline"></ion-icon>
        </button>
      </div>
    </ng-container>

  </div>
</div>
