@import "../../../sass/abstracts/variables";

.carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__card-container {
    width: 98%;
    display: inline-flex;
    flex-direction: row;

    overflow-x: hidden;
  }

  &__card {
    border-radius: 0.4rem;
    margin: 3rem;
    flex-shrink: 0;
    max-width: 20rem;
    transition: all 0.3s ease;

    &__title,
    &__release-date {
      display: block;
      font-size: 2rem;
      overflow-wrap: break-word;
      line-height: 2.3rem;
    }

    &__title {
      font-weight: 500;
      margin-top: 2rem;
    }

    &__release-date {
      font-weight: 100;
      font-size: 1.8rem;
    }
  }

  &__poster-container {
    backface-visibility: hidden;
    position: relative;

    &__data {
      visibility: hidden;
      position: absolute;
      opacity: 0;
      font-size: 2.5rem;
      height: 10rem;
      width: 18rem;
      text-align: center;

      transition: all 0.2s ease;

      span {
        display: block;
      }
    }

    &:hover {
      .carousel__poster-container__data {
        visibility: visible;
        opacity: 1;
      }

      .carousel__poster {
        opacity: 0.5;
        transform: translate(0.3rem, -0.3rem);

        &::after {
          transform: translate(-1.3rem, -1.3rem);
          opacity: 1;
        }
      }
    }
  }

  &__poster {
    backface-visibility: hidden;
    border-radius: 0.5rem;
    border: 0.4rem solid $xanadu;
    transition: all 0.3s ease;
    height: 30rem;
    width: 20rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &::after {
      content: "";
      border: 0.4rem solid $laurel-green;
      height: 30rem;
      width: 20rem;
      display: block;
      border-radius: 0.5rem;
      transition: all 0.3s ease;
      transform: translate(0.4rem, 0.4rem);
    }
  }
}

ion-icon {
  transition: all 0.2s ease-in-out;
}
